        <!-- Smoothie Details  Section-->
        <section class="page-section">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">__HEADLINE__</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <div>__ZURUECK_LINK__</div>
                __REZENSION__
                </br>
                </br>
                __DETAILS__





            </div>
        </section>



