<form action='' method='post'>

Smoothie Name:<br /> <textarea name='absender'></textarea><br />
Zutaten List:<br /> <textarea name='empfaenger'></textarea><br />
Smoothie Beschreiben:<br /> <textarea name='absender'></textarea><br />

<h2>Dominierte Zutat-Typ</h2>
<select name='boxnr'>
<option value='1'>Box 1: 30cm</option>
<option value='2'>Box 2: 60cm</option>
<option value='3'>Box 3: 100cm</option>
</select><br />

<h2>Farbe?</h2>
<select name='boxnr'>
<option value='1'>Box 1: 30cm</option>
<option value='2'>Box 2: 60cm</option>
<option value='3'>Box 3: 100cm</option>
</select><br />

<h2>Dominierte Zutat-Typ</h2>
<select name='boxnr'>
<option value='1'>Box 1: 30cm</option>
<option value='2'>Box 2: 60cm</option>
<option value='3'>Box 3: 100cm</option>
</select><br />

<br /><br />

<input type="file" name="uploaddatei" />	
<br /><br />
<br /><input type='submit' name='paket_versenden' value='Paket versenden'/>

</form>