<!-- Smoothies Section-->
<section class="page-section portfolio" id="portfolio">
	<div class="container">
	  <!-- Front Smoothies Section Heading-->
	  <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Alle Smoothie bearbeiten</h2>
	  <!-- Icon Divider-->
	  <div class="divider-custom">
		<div class="divider-custom-line"></div>
		<div class="divider-custom-icon"><i class="fas fa-tools"></i></div>
		<div class="divider-custom-line"></div>
	  </div>
	  <!-- Front Smoothies Grid Items-->
	  <div class="row">
		<table class="table">
		  <thead>
			<form action="" method="post">
			  <tr>
				<th scope="col">Suche</th>
				<th scope="col"><input type="text" name="suche_name" value="__SUCHE_NAME__" /></th>
				<th scope="col"></th>
				<th scope="col"></th>
				<th scope="col"></th>
  
				<th><input type='submit' /></th>
			  </tr>
			</form>
			<tr>
			  <th scope="col">Rezept Name</th>
			  <th scope="col">Zutaten List</th>
			  <th scope="col">Beschreibung</th>
			  <th scope="col">Bilddatei</th>
			  <th scope="col"></th>
			  <th scope="col"></th>
			</tr>
		  </thead>