
        <!-- Von uns Section-->
        <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- Von uns Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">Von Uns</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Von uns Section Content-->
                <div class="row">
                    <div class="col-lg-4 ml-auto"><p class="lead">Smoothies sorgen dafür, dass ganz nebenbei der tägliche Nährstoffbedarf gedeckt wird. Im oft stressigen Alltag ist es gar nicht so leicht, genügend Vitamine zu sich zu nehmen.</p></div>
                    <div class="col-lg-4 mr-auto"><p class="lead">Statt einen speziellen Smoothie Maker zu verwenden, kannst du auch auf Standmixer zurückgreifen: Das sind die unsere besten Smoothie Maker und Standmixer-Modelle.</p></div>
                </div>
            </div>
        </section>